#actualtitle {background-color: green
}
body  {
    background-image: url("../media/static.jpg")
	
}

h1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: white;
}
