<!DOCTYPE html>
<html>
<head>
	<title>Midterm Fall 2017</title>
	<link rel="stylesheet" href="../css/bio.css">
</head>	
<center>
<body>
	<div class="header">
	<h1 id="actualtitle"><font face="verdana">Justin Wise: OVERLOAD Mastermind</font>
<br></br>
<img src="../media/TVhead.jpg" alt="Television" class="center">
<br></br>

<h2><p>In February 7th, 1998, a Brooklyn kid was born, his name is Justin. He was not significant, but he did an absolutely stellar job for a "Justin". Justin wasn't like the other Justins, he liked to draw, he loved drawing since the 7th grade, constantly playing video games, and most importantly... a lover of animation.</p>

	<p>Right now he is currently attending BMCC to major in Animation and Motion Graphics, and he vowed to himself if he encounters another Justin, he would fight the other one to the death. OR just ignore everyone and everything until time stops altogether.</p>

	<p>On the day he formed OVERLOAD, he asked if what you create is SO inane, SO bombastic, SO...dumb, that it's a work of art being curated by many people. He went on and said yes.</p></h2>

	<div class="navigation">
  <span>
<ul>
  <li><a href="gallery.html">Gallery</a></li>
  <li><a href="../index.html">Home</a></li>
  </div>