<!DOCTYPE html>
<html>
<head>
	<title>Midterm Fall 2017</title>
	<link rel="stylesheet" href="../css/gallery.css">
</head>	
<center>
<body>
	<div class="header">
	<h1 id="actualtitle"><font face="verdana">OVERLOAD'S Inspiration Feed</font>
<br></br>
<div class="gallery" class="cf">
  <div>
  	<img src="../media/bread.gif" alt="Cutting Bread">
  </div>
  <div>
  	<img src="../media/hammercabbage.gif" alt="Blending Lettuce">
  </div>
  <div>
  	<img src="../media/one.png" alt="Connect One">
  </div>
<div>
  	<img src="../media/ai.png" alt="Kizuna Ai">
  </div><div>
  	<img src="../media/mario.jpg" alt="Mario giving you the look.">
  </div><div>
  	<img src="../media/life.gif" alt="All I Eat Is Beans">
  </div>
  <div>
  	<img src="../media/thinkaboutlife.jpg" alt="Think about this...">
  </div> 
  <div>
  	<img src="../media/ultrainstinct.png" alt="Shaggy">
  </div>
  <div>
  	<img src="../media/warp.jpg" alt="Cat">
  </div>
  <div>
  	<img src="../media/what.gif" alt="Forget how to do everything.">
  </div>
  <div>
  	<img src="../media/waypastcool.jpg" alt="Sonic">
  </div>
  <div>
  	<img src="../media/tiedup.jpg" alt="help, he is tied up.">
  </div> 
  <div>
  	<img src="../media/yee.png" alt="Yee, some old internet meme">
  </div>
  <div>
  	<img src="../media/yellow.jpg" alt="Spongebob">
  </div>

<div class="navigation">
  <span>
<ul>
  <li><a href="bio.html">Bio</a></li>
  <li><a href="../index.html">Home</a></li>
  </div>

<div class="foot"><center>These images are samples of what lies in Justin's mind,<strong> I don't know where they came from, nor do I would want to know.</center></strong></div>
</body>
</html>