body  {background:  url("../media/TV2.gif") 
		no-repeat center center fixed; 
  		background-size: cover;
}
h1 {color: white}


.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0);
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.navigation {background-color: #2E4053;
			height: 100px;
			width: 98.5%;}


.navigation li a {
    overflow: hidden;
    background-color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    box-shadow: 2px 2px 3px inset;
    text-decoration: none;
	border-radius: 5px;
	padding-right: 1em;
	padding-left: 1em;
	line-height: 2em;
	margin-right: 16px;

}

.navigation ul {
    color: white;
    text-align: center;
    padding: 10px 10px;
    
}

.navigation li {
    color: black;
    display: inline;
}

.navigation li:first-child {
	margin-left:20px;
	border:#C00;
}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: blue;
  text-align: center
}

