body  {
    background-image: url("../media/static.jpg")
	
}
.header {
    background-color: #2874A6;
    padding: 10px;
    text-align: center;
}

h1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: white;
}

.santabutton {background-color: #74c22e;
			height: 53px;
			width: 100%;}


.santabutton li a {
    overflow: hidden;
    background-color: white;
    font-size: 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 3px inset;
    text-decoration: none;
	border-radius: 5px;
	padding-right: 1em;
	padding-left: 1em;
	line-height: 2em;
	margin-right: 16px;

}

.santabutton ul {
    color: white;
    text-align: center;
    padding: 10px 10px;
    
}

.santabutton li {
    color: black;
    display: inline;
}

.santabutton li:first-child {
	margin-left:20px;
	border:#C00;
}

}

h1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: white;
}
span {background-color: gray;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	padding: 10px;}

a {margin-right: 15px;
	margin-left: 15px;
	font-size: 24px;}

p {background-color: black;}

h2 {text-align: center;
	background-color: black}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: gray;
  text-align: center;
}

img {
	border-radius: 50%;
}

img.center {
    display: block;
    margin: 0 auto;
}