<DOCTYPE html>
<html>
<head>
	<title>OVERLOAD Holiday 2017</title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
</head>
<body>
	<div class="header">
	<h1 id="actualtitle">OVERLOAD'S Holiday Mission Statement</h1></div>
	<div class="santabutton">
  <ul>
  <li><a href="gallery.html">Gallery</a></li>
  <li><a href="bio.html">Bio</a></li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="../index.html">Return Home</a></li>
</div>
<br></br>
	<p><font face="verdana" color="white">
	We here at Overload are currently studying our society's most favorite holiday...Christmas. Christmas in the public eye has always been about positivity, being with family, spending everything on your kids, and letting everyone know what kind of person you are based on your sweater.</font></p>
	<br></br>

	<p><font face="verdana" color="white"><img src="../media/DRUNKSANTA.gif" alt="GOHOMEURDRUNK">Overload doesn't always focus on pop culture figures...however, Overload recently attained a liking to an old man in a red suit. One of our interns found him, intoxicated to the point where we could not understand a single syllable. Our experts say that his name was <tt>Santa Claus</tt>. He's some sort of entity, according to some files we dug up, he sees you when you're sleeping and knows when you're awake. Creepy.</p>
	<br></br>
	<br></br>
	<br></br>


<div class="foot">Welcome to the bottom of the page.<strong> NO ONE can find you here</strong>.</div>
</body>
</html>
