<DOCTYPE html>
<html>
<head>
	<title>OVERLOAD Holiday 2017</title>
	<link rel="stylesheet" type="text/css" href="../css/bio.css">
</head>
<body>
	<div class="header">
	<h1 id="actualtitle">Justin Wise: Creator of Overload</h1></div>
	<div class="santabutton">
  <ul>
  <li><a href="about.html">About Us</a></li>
  <li><a href="gallery.html">Gallery</a></li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="../index.html">Return Home</a></li>
</div>
<br></br>
	<img src="../media/profile.png" alt="Beautiful!" class="center">
	<center><p><font face="verdana" color="white">
		
	Overload would not exist without the mind of some 19-year old BMCC student who is currently majoring Animation and Motion Graphics.</font></p>

	<p><font face="verdana" color="white">A lover of animation, cartoons, and all sorts of things that move. I never really wasn't the type of person that thinks art is some sort of escapism, I think it's a world of bizarre ideas. I take ideas, and mash them together with whatever I want because originality is hard, but it won't stop any of us from striving for that is it? If there is a status quo...we all have the choice to break it, that is where OVERLOAD came from. Apply logic, then ignore it entirely! </p></center>
	<br></br>
	<br></br>
	<br></br>


<div class="foot">Welcome to the bottom of the page.<strong> NO ONE can find you here</strong>.</div>
</body>
</html>
