<DOCTYPE html>
<html>
<head>
	<title>OVERLOAD Holiday 2017</title>
	<link rel="stylesheet" type="text/css" href="../css/gallery.css">
</head>
<body>
	<div class="header">
	<h1 id="actualtitle">OVERLOAD Holiday Gallery</h1></div>
	<div class="santabutton">
  <ul>
  <li><a href="about.html">About Us</a></li>
  <li><a href="bio.html">Bio</a></li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="../index.html">Return Home</a></li>
</div>
<br></br>

<div class="gallery" class="cf">
  <div>
    <img src="../media/alsonice.jpg" alt="This one I like" />
  </div>
  <div>
    <img src="../media/wtf.jpg" alt="When you think of Christmas, you think of clowns" />
  </div>
  <div>
    <img src="../media/favorite.jpg" alt="It's called a Fuggler..." />
  </div>
  <div>
    <img src="../media/notnice.jpg" alt="I got nothing to say on this." />
  </div>
  <div>
    <img src="../media/why.jpg" alt="WHY DID I PUT THAT HERE???" />
  </div>
  <div>
    <img src="../media/ACTUALMOVIE.jpg" alt="coming in 2018?" />
  </div>
  <div>
    <img src="../media/wut.jpg" alt="MASTERPIECE" />
  </div>
  <div>
    <img src="../media/fun.jpg" alt="great..." />
  </div>
  <div>
    <img src="../media/loveit.jpg" alt="Favorite one so far." />
  </div>
  <div>
    <img src="../media/bestgift.jpg" alt="Banned from the US" />
  </div>
  <div>
    <img src="../media/nightmare.jpg" alt="WHAT IS THAT?" />
  </div>
  <div>
    <img src="../media/cute.jpg" alt="nothing crazy..." />
  </div>
  <div>
    <img src="../media/greatabs.jpg" alt="dumb stock photo" />
  </div>
  
  

<div class="foot"><center>We looked through everything that describes Christmas in these images<strong> I think these results can speak for themselves...</center></strong></div>
</body>
</html>